<!-- Loader component start-->
<app-loader></app-loader>
<!-- Loader component end-->
<router-outlet></router-outlet>
<!-- Scroll Top component start -->
<app-scroll-top></app-scroll-top>
<!-- Scroll Top component end -->


<script type="text/javascript" src="https://popupsmart.com/freechat.js"></script><script> window.start.init({ title: "Hi there ✌️", message: "How may we help you? Just send us a message now to get assistance.", color: "#FA764F", position: "right", placeholder: "Enter your message", withText: "Write with", viaWhatsapp: "Or write us directly via Whatsapp", gty: "Go to your", awu: "and write us", connect: "Connect now",  button: "Write us", device: "everywhere", logo: "https://d2r80wdbkwti6l.cloudfront.net/hy8AuGMMShdRuyRuJNrDqbumPhMkwcxj.jpg",  services: [{"name":"whatsapp","content":"9945672278"}]})</script>


